<div id="profile-stats" class="row mt-3">
  <span>
    <p class="fw350">{{ weight | async }}</p>
    <p class="font-weight-lighter fs50">kg</p>
  </span>
  <img
    class="circle"
    src="https://randomuser.me/api/portraits/women/32.jpg"
    alt="avatar"
  />
  <span>
    <p class="fw350">{{ height | async }}</p>
    <p class="font-weight-lighter fs50">cm</p>
  </span>
</div>
<div id="profile-name" class="row mt-2 mb-5">
  <h2>{{ first_name | async }} {{ last_name | async }}</h2>
</div>
<hr />
<app-macros></app-macros>
